<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body> 
    
    <%- include('../partials/nav.ejs')  %>

    <div class="auth content">
        <h2>Welcome to our Blog</h2>
    </div>

    <%- include('../partials/footer.ejs')  %> 
</body>
</html>