<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body> 
    
    <%- include('../partials/nav.ejs')  %>

    <div class="auth content">
        <h2>Login</h2>
        <form action="" method="POST">
            <label for="username">Username:</label>
        <input type="text" name="username" id="login" placeholder="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="password">
        </form>
    </div>
    <%- include('../partials/footer.ejs')  %> 
</body>
</html>