<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body> 
    
    <%- include('../partials/nav.ejs')  %>

    <div class="auth content">
        <h2>Registration</h2>
        <form action="" method="POST">
            <label for="username" >Username:</label>
            <input type="text" name="username" id="username" placeholder="Username" required> 
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" placeholder="Email" required>
            <label for="password">Password:</label>
            <input type="text" name="password" id="password" placeholder="Password" required>
            <label for="Statuts">Active</label>
            <input type="radio" value="true" name="statuts" id="statuts">
            <label for="Statuts">Inactive</label>
            <input type="radio" value="felse" name="statuts" id="statuts">
        </form>
    </div>

    <%- include('../partials/footer.ejs')  %> 
</body>
</html>