<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Default</h1></a>
        <p>A Net Default Site</p>
    </div>
    <ul>
        <li><a href="/blogs">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>