<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs')  %> 
    <div class="blog content">
        <h2>About Blog</h2>
        <p>Hey Guys! This blog is make by Default_z_to. Leaning course from "The Net Nija"</p>
        <p>Our team is a team which start with programming!</p>
    </div>
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>